li {
  list-style-type: none;
}

.userPage{
  height: auto;
  width: auto;
  background-size: cover;
  text-align: center;
  color: #63CBF2;
}

.backgroundFight{
  margin: auto;
  width: 100%;
  height: auto;
  background-image: url('./bg_justdance.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cadre{
  width: 30%;
  height: 100%;
  background-color: rgba(30, 19, 68, 0.73);
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
}

.joueurPicture{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  width:40%;
}

.graph{
  height: 10vh;
  margin-bottom: 30%;
}

.graphique{
  width: 80%;
}

.buttons{
  font-size: 1.5em;
  width: auto;
  margin-bottom: 10%;
}

.buttonBleu{
  background-color: black;
  color:#63CBF2;
  border: 2px solid #63CBF2;
  margin-right: 20px;
}

.buttonOrange{
  background-color: black;
  color:#FE9400;
  border: 2px solid #FE9400;
}
.gauche:hover {
  cursor: pointer;
}
.droite:hover {
  cursor: pointer;
}
.titleJoueur {
  padding-top: 2em;
}
