body{
  margin: 0;
  padding: 0;
  background-color: #232323;
  font-family: 'Cabin', sans-serif;
}

.filter{
  background-image: url('motif.png');
  background-size: cover;
  display: flex;
  text-align: center;
  color: #63CBF2;
  font-family: 'Cabin', sans-serif;
}

.inputPart {
  margin-top: 5em;
}

.filterChoice{
  margin: auto;
  width: 80%;
  height: 92vh;
  border-left: 2px solid #63CBF2;
  border-right: 2px solid #63CBF2;
  background-image: url('./background_justdance.png');
}

.accrocheOne {
  letter-spacing: 2px;
}

.myButton{
  font-size: 100%;
  border: 2px solid #63CBF2;
  background-color: black;
  color: #63CBF2;

}
.filtres {
  margin-top: 5em;
}
.filtresBar {
  margin-top: 3em;
}
.filtresBar:hover {
  cursor: pointer;
  text-decoration: underline;
}
.filtresDisplay {
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #63CBF2;
  height: 5px;
}
.searchButton {
  transform: scale(1.4);
  transition: 0.3s;
}
.searchButton:hover {
  transform: scale(1.8);
  transition: 0.3s;
}
